PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=message_user
DB_PASSWORD=change_me_local_password
DB_NAME=message_db
MESSAGE_TTL_SECONDS=3600
TABLEAU_URL=
GROUPE=team-demo
COULEUR=blue
SERVICE=api
VERSION=dev
URL_INTERNE=http://localhost:3000
PAVILLON_FICHIER=/data/pavillon.txt
